{% load static %}
{% include "user/base.html" %}

{% block content %}
        
<div class="container-xxl flex-grow-1 container-p-y">
            
            
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Quiz/</span> All Topic</h4>
    
    <div class="app-academy">
      <div class="card p-0 mb-4">
        <div class="card-body d-flex flex-column flex-md-row justify-content-between p-0 pt-4">
          <div class="app-academy-md-25 card-body py-0">
            <img src="{% static 'assets/img/illustrations/bulb-light.png' %}" class="img-fluid app-academy-img-height scaleX-n1-rtl" alt="Bulb in hand" data-app-light-img="illustrations/bulb-light.png" data-app-dark-img="illustrations/bulb-dark.png" height="90" />
          </div>
          <div class="app-academy-md-50 card-body d-flex align-items-md-center flex-column text-md-center">
            <h3 class="card-title mb-4 lh-sm px-md-5 text-center">
              Comprehensive learning programs 
              <span class="text-primary fw-medium text-nowrap">for all students</span>.
            </h3>
            <p class="mb-4">
              Become lifelong learners with the best teachers, engaging video lessons and personalised learning journeys
            </p>
            
          </div>
          <div class="app-academy-md-25 d-flex align-items-end justify-content-end">
            <img src="{% static 'assets/img/illustrations/pencil-rocket.png' %}" alt="pencil rocket" height="188" class="scaleX-n1-rtl" />
          </div>
        </div>
      </div>
    
      <div class="card mb-4">
        <div class="card-header d-flex flex-wrap justify-content-between gap-3">
          <div class="card-title mb-0 me-1">
            <h5 class="mb-1">Available Exam</h5>
            
          </div>
          
        </div>
        <div class="card-body">
          <div class="row gy-4 mb-4">

            {% for category in all_category %}
            <div class="col-sm-6 col-lg-4">
              <div class="card p-2 h-100 shadow-none border">
                  
                <div class="card-body p-3 pt-2">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <span class="badge bg-label-primary">{{category.category_name}}</span>
                    
                  </div>
                  <p class="mt-2">{{category.description}}</p>
                  <p class="d-flex align-items-center"><i class="bx bx-time-five me-2"></i>{{category.time}} minutes</p>
                  <div class="progress mb-4" style="height: 8px">
                    <div class="progress-bar w-100" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  {% if category.category_name|stringformat:"s" in c_user_expired_exam%}
                  <a class="w-100 btn btn-secondary text-white"><i class="bx bx-check-double me-2"></i>Completed</a>
                  {% else %}
                  <a href="{% url 'get_quiz' category.category_name %}" class="w-100  btn btn-primary d-flex align-items-center"><i class="bx bx-chevron-right lh-1 scaleX-n1-rtl"></i>Get Started</a>
                  {% endif %}
                  
                  
                    
                </div>

                
              </div>
            </div>
            {% endfor %}
            

          </div>
          
        </div>
      </div>

    
      
    </div>
    </div>
<!-- / Content -->
{% endblock %}

{% include "user/footer.html" %}
